body {
    background-color: #f0f2f5;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.home-container {
    padding: 20px;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    padding: 10px;
    position: relative;
}

.navbar-logo {
    width: 100px;
}

.navbar-links {
    display: flex;
    gap: 20px;
}

.navbar-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.intro-section {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.logo {
    width: 600px;
    margin-right: 50px;
}

.description {
    flex: 1;
}

.description h1 {
    margin: 0;
    font-size: 36px;
}

.description p {
    margin-top: 10px;
    font-size: 18px;
}

.comics-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.comic-item {
    width: 200px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.thumbnail-container {
    width: 100%;
    padding-top: 100%;
    position: relative;
}

.thumbnail {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.thumbnail:hover {
    transform: scale(1.2);
    transition: transform 0.3s;
}

.comic-item h2 {
    margin: 10px 0;
    font-size: 18px;
}

.logout-button {
    position: absolute;
    right: 20px;
    top: 10px;
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 12px;
    width: 80px;
    /* 고정된 너비 */
    height: 30px;
    /* 고정된 높이 */
    text-align: center;
}

.logout-button:hover {
    background-color: #d32f2f;
}